#about h2 {
  font-family: var(--title-font);
  font-size: 3rem;
  color: var(--font-black);
}
#about p {
  color: rgba(0, 0, 0, 0.5) !important;
}
/*media screen*/
@media (max-width: 767px) {
  #about h2 {
    text-align: center;
    font-size: 2rem;
  }
}
