.logo-link {
  width: 70px;
}
.logo {
  max-width: 100%;
}
ul li a {
  color: var(--font-black) !important;
  margin-right: 4px;
  font-family: var(--main-font);
  font-weight: var(--font-bold);
}
a:hover {
  color: var(--main-color) !important;
  transition: var(--transition);
}
.menu-bar {
  font-size: 40px;
}
.navbar-toggler:focus {
  box-shadow: 0 0 0 0.25rem var(--main-color) !important;
}

/*media screen*/

@media (max-width: 992px) {
  .navbar-nav {
    position: absolute;
    z-index: 5;
    background: #b99672ad;
    width: 100%;
    margin-top: 8px !important;
  }
  .navbar-nav li a {
    color: #fff !important;
    padding-left: 10px !important;
  }
}
